*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.blur-in{animation:blur-in 0.9s linear} @keyframes blur-in{0%{filter:blur(50px);opacity:0}100%{filter:blur(0);opacity:1}}

body{
    font-family: 'Jost', sans-serif;
}

.video1 {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

header{
    background: linear-gradient(0deg, rgba(66,98,98,0) 0%, rgba(34,32,32,1) 90%);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
}

li{
    list-style: none;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
}

.color{
    color: whitesmoke;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: grey;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
}

.main{
    position: absolute;
    width: 100%;
    top: 50%;
    height: 40px;
    color: black;
    padding-left: 50px;
}

.main1{
    position: absolute;
    width: 100%;
    top: 20%;
    height: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section1{
    text-shadow: -1px 1px 0 rgb(103, 102, 102),
                          1px 1px 0 rgb(103, 102, 102),
                         1px -1px 0 rgb(103, 102, 102),
                        -1px -1px 0 rgb(103, 102, 102);
    color: white;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.main2{
    position: absolute;
    width: 100%;
    top: 30%;
    color: black;
    display: flex;
    justify-content: center;

}

.main3{
    position: absolute;
    width: 100%;
    top: 90%;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}

.main3 p{
    font-size: 20px;
}

.main3 .slider{
    display: none;
}

.section2{
    width: 100%;
    display: flex;
    position: relative;
}

.divImg{
    top: 30px;
    width: 100%;
    position: relative;
}

.img4{
    display: none;
}

.img{
    border:2px solid #4d4a4a;
    padding: 5px;
    width: 600px;
    height: 450px;
    filter: brightness(50%);
    border-radius: 5px;
    top: -15px;
    left: 400px;
    position: absolute;
}

.img2{
    border:2px solid #4d4a4a;
    padding: 5px;
    width: 600px;
    height: 450px;
    filter: brightness(50%);
    border-radius: 5px;
    top: 50px;
    left: 100px;
}

.img3{
    border:2px solid #4d4a4a;
    padding: 5px;
    width: 600px;
    height: 450px;
    filter: brightness(50%);
    border-radius: 5px;
    top: 51px;
    right:400px;
    position: absolute;
}


.linea:after{
    content: "";
    display: block;
    margin-top: 5px 0;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease-in-out;
}

.linea:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: black;
    padding: 10px 0;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1450px){
    .main2{
        display: none;
    
    }

    .main3{
        position: absolute;
        width: 100%;
        top: 30%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 30px;
        overflow: hidden;
    }
    
    .main3 p{
        font-size: 30px;
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 800px){
    header{
        background: #262626;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item{
        margin: 16px 0;
    }
    
    .nav-menu.active{
        left: 0;
    }

    footer p{
        font-size: 10px;
    }

    .main{
        position: absolute;
        width: 100%;
        top: 50%;
        height: 40px;
        color: black;
        padding-left: 30px;
    }

    .frase address{
        font-size: 15px;
    }
}